# Postgresql Environment
DOCKER_DEV_DB="your_choice"
DOCKER_DEV_USER="your_username"
DOCKER_DEV_PWD="your_password"

# Connection string DB
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_choice?schema=public"